<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @locality.name %>
</p>

<p>
  <strong>Provincia:</strong>
  <%= @locality.province %>
</p>

<%= link_to 'Editar', edit_locality_path(@locality) %> |
<%= link_to 'Ok', new_origin_path %>
