<nav class="navbar navbar-default ">

  <div class="container-fluid">
  
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     
       <img class="decoded" alt="http://www.reservahorcomolle.com.ar/images/logo_reserva_principal.png" src="http://www.reservahorcomolle.com.ar/images/logo_reserva_principal.png" Align="left">
     
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
  
    <div class="collapse navbar-collapse" id="bs-example-navbar- collapse-1">
      <ul class="nav navbar-stacked " ><!--coloca en vertical--><tr>
        <li class="active">
        <i class="glyphicon glyphicon-home">
        <%= link_to "Inicio", page_path('origins') %></i></li><br>
        <li><i class="glyphicon glyphicon-log-in"> <%= link_to "Registrar Ingreso", new_entry_path %></i> </li><br>
        <li> <i class="glyphicon glyphicon-book"> <%= link_to "Historia Clínica", new_tratamiento_path %></i> </li><br>
        <li><i class="glyphicon glyphicon-new-window"> <%= link_to "Registrar Egreso", egresses_path %></i> </li><br>
        <li><i class="glyphicon glyphicon-shopping-cart"> <%= link_to "Alimentación", entries_path %></i> </li><br>
        <li><i class="glyphicon glyphicon-list-alt"> <%= link_to "Protocolo Necropsia", entries_path %></i> </li><br>
        <li> <i class="glyphicon glyphicon-warning-sign"> <%= link_to "Contencion Quimica", entries_path %></i> </li><br>
        <li><i class="glyphicon glyphicon-tags"> <%= link_to "Reporte de Liberacion", entries_path %></i> </li><br>
        <!--  <%= link_to "Medicamentos", entries_path %> -->
      </tr>
      </ul>
    </div><!-- /.navbar-collapse -->
   
  </div><!-- /.container-fluid -->
</nav>

