<%= form_for(@entry) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :dateof %>
  </div>
  <div class="field">
    <%= f.label :donador %><br>
    <%= f.select :origin_id, Origin.all.map { |o|[o.colector,o.id]  } %>
  </div>
  <div class="field">
    <%= f.label :nombre_del_animal %><br>
    <%= f.select :animal_id, Animal.all.map { |a|[a.name,a.id]  } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
