<p id="notice"><%= notice %></p>

<h1>Registrar Ingreso</h1>
<%= link_to 'Localidad', localities_path %>
<%= link_to 'Provincia', provinces_path %>
<%= link_to 'Origen', origins_path %>
<%= link_to 'Animal', animals_path %>
<table>
  <thead>
    <tr>
      <th><%= link_to "Dia de Entrada",entries_path(order: 'dateof') %></th>
      <th>Origin</th>
      <th>Animal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.dateof %></td>
        <td><% if entry.origin %>
        <%= entry.origin.colector %>
        <% end %>
        </td>
        <td><% if entry.animal %>
        <%= entry.animal.name %>
        <% end %>
        </td>
        <td><%= link_to 'Show', entry %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Ingreso', new_entry_path %>

