<p id="notice"><%= notice %></p>

<p>
  <strong>DIA DE INGRESO</strong>
  <%= @entry.dateof %>
</p>

<p>
  <strong>COLECTOR</strong>
  <%= @entry.origin %>
</p>

<p>
  <strong>ANIMAL</strong>
  
  <%= @entry.animal %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Ok', new_entry_path %>
