<p id="notice"><%= notice %></p>

<p>
  <strong>DIA DE INGRESO</strong>
  <%= @entry.dateof %>
</p>

<p>
  <strong>DONADOR</strong>
  <% if @entry.origin %>
  <%= @entry.origin.colector %>
 <% end %>

</p>

<p>
  <strong>ANIMAL</strong>
  <% if @entry.animal %>
  <%= @entry.animal.name %>
 <% end %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Ok', new_entry_path %>
