

<%= form_for(@origin) do |f| %>
  <% if @origin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@origin.errors.count, "error") %> prohibited this origin from being saved:</h2>

      <ul>
      <% @origin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :donador %><br>
    <%= f.text_area :colector %>
  </div>
  <div class="field">
    <%= f.label :dirección %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :alimentación_del_animal %><br>
    <%= f.text_area :feeding %>
  </div>
  <div class="field">
    <%= f.label :método_de_captura %><br>
    <%= f.text_area :capmethod %>
  </div>
  <div class="field">
    <%= f.label :características_distintivas %><br>
    <%= f.text_area :features %>
  </div>
  
  <div class="field">
    <%= f.label :provincia %><br>      
    <%=  f.grouped_collection_select(:locality_id, @provinces, :localities, :name, :id, :name , options ={:prompt => "Seleccione una Localidad"} ) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
