<h1>New Origin</h1>

<%= render 'form' %>

<%= form_for(@origin) do |f| %>
  <p>
    <%= f.label :province_id %><br />      
    <%=  collection_select(:province_id,:origin, Province.all, :id, :name , options ={:prompt => "TRUE"} ) %>
    </p>
  <p>
    <%= f.label :locality_id %><br />      
    <%= collection_select(:province, :locality_id, Locality.where(province_id: :origin),:id,:name, options ={:prompt => "Seleccione una localidad"}) %>
  </p>
<% end %>

<%= link_to 'Back', origins_path %>
<%= link_to 'Crear Provincia', new_locality_path %>

