<h1>Nuevo Donador</h1>

<%= render 'form' %>

<%= link_to 'Nueva Provincia', new_province_path %> |
<%= link_to 'Nueva Localidad', new_locality_path %> |
<%= link_to 'Listado de Donadores', origins_path %> |
<%= link_to 'Atrás', new_entry_path %>
