<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @history.date %>
</p>

<p>
  <strong>Signs:</strong>
  <%= @history.signs %>
</p>

<p>
  <strong>Treatment:</strong>
  <%= @history.treatment %>
</p>

<p>
  <strong>Animal:</strong>
  <%= @history.animal %>
</p>

<%= link_to 'Edit', edit_history_path(@history) %> |
<%= link_to 'Back', histories_path %>
