<h1>Reserva Experimental Horco Molle</h1>

<li> <%= link_to "Registrar Ingreso", new_entry_path %> </li>
        <li> <%= link_to "Historia Clinica", tratamientos_path %> </li>
        <li> <%= link_to "Registrar Egreso", entries_path %> </li>
        <li> <%= link_to "Alimentacion", entries_path %> </li>
        <li> <%= link_to "Protocolo de Necropsia", entries_path %> </li>
        <li> <%= link_to "Protocolo de Contencion Quimica", entries_path %> </li>
        <li> <%= link_to "Reporte de Liberacion", entries_path %> </li>
        <li> <%= link_to "Medicamentos", entries_path %> </li>