Reserva Experimental Horco Molle

<li> <%= link_to "Registrar Ingreso", entries_path %> </li>
        <li> <%= link_to "Historia Clinica", origins_path %> </li>
        <li> <%= link_to "Registrar Egreso", entries_path %> </li>
        <li> <%= link_to "Alimentacion", entries_path %> </li>
        <li> <%= link_to "Protocolo de Necropsia", entries_path %> </li>
        <li> <%= link_to "Protocolo de Contencion Quimica", entries_path %> </li>
        <li> <%= link_to "Reporte de Liberacion", entries_path %> </li>
        <li> <%= link_to "Medicamentos", entries_path %> </li>