<p id="notice"><%= notice %></p>
<p>
  <strong>Nombre Vulgar:</strong>
  <% if @animal.commonname %>
  <%= @animal.commonname.name %>
  <% end %>
</p>

<p>
  <strong>Nombre del Animal:</strong>
  <%= @animal.name %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @animal.weight %>
</p>

<p>
  <strong>Etiqueta:</strong>
  <%= @animal.numbertag %>
</p>

<p>
  <strong>Microchip:</strong>
  <%= @animal.microchip %>
</p>

<p>
  <strong>Fecha de Captura:</strong>
  <%= @animal.capturedate %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @animal.age %>
</p>



<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'OK', new_entry_path %>
