<%= form_for @tratamiento, html: { multipart: true } do |f| %>
  <% if @tratamiento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tratamiento.errors.count, "error") %> prohibited this tratamiento from being saved:</h2>

      <ul>
      <% @tratamiento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :signosclinicos %><br>
    <%= f.text_field :signos_clinicos %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion %>
  </div>
  <!-- <div class="field">
    <%= f.label :nombre_animal %><br>      
    <%= f.grouped_collection_select(:animal_id, @commonnames, :animals, :name, :id, :name , options ={:prompt => "Seleccione un Animal"} ) %>
  </div> -->
  <div class="field">
    <%= f.label :asset %><br>
    <%= f.file_field :asset %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
