<p id="notice"><%= notice %></p>

<h1>Listado Historias Clinicas</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Signos clinicos</th>
      <th>Nombre Animal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tratamientos.each do |tratamiento| %>
      <tr>
        <td><%= tratamiento.fecha %></td>
        <td><%= tratamiento.signos_clinicos %></td>
        <td><% if tratamiento.commonname %>
        <%= tratamiento.commonname.name%>
        <% end %></td>
        <td><%= link_to 'Show', tratamiento %></td>
        <td><%= link_to 'Edit', edit_tratamiento_path(tratamiento) %></td>
        <td><%= link_to 'Destroy', tratamiento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Tratamiento', new_tratamiento_path %>
