<p>
  <strong>Fecha:</strong>
  <%= @tratamiento.fecha %>
</p>

<p>
  <strong>Signos clinicos:</strong>
  <%= @tratamiento.signos_clinicos %>
</p>

<p>
<strong> Descripción: </strong>
<%= @tratamiento.descripcion %>
</p>

<%= image_tag @tratamiento.photo.url %>
<%= image_tag @tratamiento.photo.url(:medium) %>
<%= image_tag @tratamiento.photo.url(:thumb) %>
<%= link_to 'Edit', edit_tratamiento_path(@tratamiento) %> |
<%= link_to 'OK', new_history_path %>
