<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
	#section {
    width:240px;
    float:left;
    padding:10px;
    background-color:#48E13D;
    height: 0%;
    left: 0px;
    top:0px;
    text-align: left;
    position: relative;
    /*
    width: 220px;
    font-family: "Raleway",sans-serif;
    */
		}
    #section .navbar-stacked{
     position: relative; 
     width: 200px; 
     margin-left: 0px;
    margin-left-value: 170px;
    margin-left-ltr-source: physical;
    margin-left-rtl-source: physical; 
      /*height: 70px;
    
    
    */
    }
    #section .navbar{
          border-radius: 0px;
    
    border: medium none;
    padding-top: 20%;
}#section .navbar-header{
  margin-left
}

#section .navbar-collapse{
  padding-right: 15px;
padding-left: 15px;
}    
    img {
    /*position: absolute;*/
    
    margin: auto;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
		#footer{
		text-align:right;
		}
		#section2 {
      top: 100px;
    right: 0px;
    bottom: 0px;
    left: 100px;
    text-align: left;
    float:left;
     }
     #main-wrapper{
      display: block;
     /* margin: 0px auto;*/
      width: 1000px;
     }
  	</style>
  	<title>Reserva Experimental Horco Molle</title>
  	<p class="navbar-text pull-right">
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
	
</head>
<body>     
  
<div id="main-wrapper">
<div id="section">
  <%= render 'share/navbar'%>	
</div>
<%= render 'share/alert' %>
<div id="section2">
<%= yield %>  
</div>
</div>
<div id="footer">
	<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logueado como: <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>
</div>
</body>
</html>
